.chatHeader {
  display: flex;
  gap: var(--lumo-space-s);
  padding: 0 var(--lumo-space-m);
  align-items: center;
}

.chatHeading {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: var(--lumo-space-m);
  font-size: var(--lumo-font-size-l);
}
