.settingsPanel {
  display: flex;
  flex-direction: column;
  gap: var(--lumo-space-m);
  padding: var(--lumo-space-m);
  overflow-y: scroll;
}

.settingsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingsSubHeading {
  font-size: var(--lumo-font-size-m);
}
