@import url('@vaadin/react-components/css/Lumo.css');
@import url('@vaadin/react-components/css/lumo/Typography.css');
@import url('@vaadin/react-components/css/lumo/Utility.module.css');

html {
  --layout-max-width: 60rem;
  font-size: 15px;

  @media (pointer: coarse) {
    font-size: 18px;
  }
}

.main-layout {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;

  .chat-layout {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: var(--lumo-space-s);

    .chat-component {
      flex: 1;
    }

    @media (max-width: 1024px) {
      &.settings-open {
        display: none;
      }
    }
  }

  .settings-panel {
    min-width: 400px;
    border-left: 1px solid var(--lumo-contrast-20pct);

    @media (max-width: 1024px) {
      width: 100%;
      padding: 1.5rem;
    }
  }
}
