@import url('@vaadin/react-components/css/Lumo.css');
@import url('@vaadin/react-components/css/lumo/Typography.css');
@import url('@vaadin/react-components/css/lumo/Utility.module.css');

html {
  --layout-max-width: 60rem;
  font-size: 15px;
}

@media (pointer: coarse) {
  html {
    font-size: 18px;
  }
}
